body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/wildfirebackground1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
   
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 14px 18px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5S;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: gray;}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    transition: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 14px 40px;
    font-size: 18px;
    color: white;

}

/* Section 1 */
.sect1 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px 50px;
}

.sect2 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.sect2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 50%;
}

.sect3 {
    width: 80%;
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px ;
  

}

footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* About us section */ 
.about-us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


/* Contact us section */
.location {
    width: 80%;
    margin: auto;
    padding: 80px;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
} 

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: orange;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

/* Form CSS content */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid gray; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: gray;
  }
  
.container {
    border-radius: 5px;
    padding: 20px;
  }

#map {
    height: 500px;
    width: 100%;
}


/* Product section */

.products {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 10px 200px;
    text-align: center;
    font-family: arial; 
    float: left;
  }

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 10px 200px;
    text-align: center;
    font-family: arial;
    float: right;
  }
  
.card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 510px;
    margin: auto;
    text-align: center;
    font-family: arial; 
  }

.price {
    color: grey;
    font-size: 22px;
  }
  
.card button, .card-2 button, .card-3 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card button:hover,  .card-2 button:hover,  .card-3 button:hover  {
    opacity: 0.7;
  }

  /* Donate section */
.donate {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container2 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}